 <!DOCTYPE html>
<html lang="en">
<head>
<!-- <div class="container">
	<center>
 		<img src="imgs/ecsulogo.png" class="img-rounded" alt="Elizabeth City State University Logo" width="304" height="236"> 
	</center>
</div> -->
  <title>ECSU Maintenance Ticket Filer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-alert.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--script that will verify that the extension of a user's email address is "@students.ecsu.edu" -->
  <script>
    function validateForm(){
      var x = document.forms["MaintEmail"][Email].value;
      var atpos = x.indexOf("@");
      var dotpos = x.lastIndexOf(".")
      if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length){
        alert("Not a valid e-mail address");
        return false;
      }
      var vemail = x.slice(atpos+1);
      var allowedDomains = ['students.ecsu.edu'];
      if (vemail == allowedDomains)
      {
        alert(x + ' is allowed');
      }
      else
      {
        alert(x + ' is not a valid email');
        return false;
      }
    }
  </script>

  <!-- function for creating the pop-up alert once submit button is clicked -->
  <script type="text/javascript">
  $(document).ready(function () {

  $('#info').click(function (e) {
    e.preventDefault()
    $('#message').html('<div class="alert alert-info fade in col-sm-offset-1 col-sm-5 "><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button><center>Thank you! Please check your ECSU email for a message from us!<center></div>');
  })
  });
  </script>


</head>
<body>

<div class="container">
	<div class="jumbotron">
		<center>
      <img src="imgs/horizontalLogo.png" class="img-rounded" alt="Elizabeth City State University Logo" width="700" height="65"> 
    		<h1>Maintenance Issue Filer</h1>
    			<p>Welcome ECSU students. Things just got easier ---now you can report your dormitory maintenance issues online and view the status of their completion in real-time.</p>
    			<p>File away.</p>
    	<center>
  	</div>
</div>
<!-- panel containing email adress input, next button, and alert -->
<div class="container">  
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><h5>Enter your email to begin filing issues</h5></div>
      <!--<div class="panel-body" style ="">
          </div> -->
          <div align="center">
            <form role="form" action="" method="post">
            {% csrf_token %}
            {{form}}
        <br><input type="submit" value="SUBMIT">
            </form>
            </div>
                <div class="container">
                      <p>
                      <form method="post">
                      </form>
                      </p>
                      <div id="message"></div>
                </div>
              </div>
            </div>
          </div>      
      </div>  
      </div>
    </div>
  </div>
</div>

</body>
</html>