 <!DOCTYPE html>
<html lang="en">
<head>
<!-- <div class="container">
	<center>
 		<img src="imgs/ecsulogo.png" class="img-rounded" alt="Elizabeth City State University Logo" width="304" height="236"> 
	</center>
</div> -->
  <title>ECSU Maintenance Ticket Filer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-alert.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--script that will verify that the extension of a user's email address is "@students.ecsu.edu" -->
  <script>
    function validateForm(){
      var x = document.forms["MaintEmail"][Email].value;
      var atpos = x.indexOf("@");
      var dotpos = x.lastIndexOf(".")
      if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length){
        alert("Not a valid e-mail address");
        return false;
      }
      var vemail = x.slice(atpos+1);
      var allowedDomains = ['students.ecsu.edu'];
      if (vemail == allowedDomains)
      {
        alert(x + ' is allowed');
      }
      else
      {
        alert(x + ' is not a valid email');
        return false;
      }
    }
  </script>

  <!-- function for creating the pop-up alert once submit button is clicked -->
  <script type="text/javascript">
  $(document).ready(function () {

  $('#info').click(function (e) {
    e.preventDefault()
    $('#message').html('<div class="alert alert-info fade in col-sm-offset-1 col-sm-5 "><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button><center>Thank you! Please check your ECSU email for a message from us!<center></div>');
  })
  });
  </script>


</head>
<body>

<div class="container">
	<div class="jumbotron">
		<center>
      <img src="imgs/horizontalLogo.png" class="img-rounded" alt="Elizabeth City State University Logo" width="700" height="65"> 
    		<h1>Maintenance Issue Filer</h1>
    			<p>Welcome ECSU students. Things just got easier ---now you can report your dormitory maintenance issues online and view the status of their completion in real-time.</p>
    			<p>File away.</p>
    	<center>
  	</div>
</div>
<!-- panel containing email adress input, next button, and alert -->
<div class="container">  
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><h5>Enter your email to begin filing issues</h5></div>
      <!-- body of panel for email  -->
        <div class="panel-body">
          <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control" id="email" placeholder="Enter ECSU email">
          </div>
        </div>

      <center> 
      <h5> Questions? Contact Us </h5> 

       <p> Telephone: 252.335.MAIN </p>


       <p>
          Email:
      <a href="mailto:ecsuonlinemaintenance@ecsu.edu" target="_top">ecsuonlinemaintenance@ecsu.edu</a>
      </p>
      </center>

        
      <!-- Trigger the modal with a button -->
      <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Next</button></center>

      <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thank you!</h4>
          </div>
          <div class="modal-body">
            <p>Please check your email for a message from ECSU MIF.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    </div>
  </div>
</div>      

</body>
</html>
